:root {
  --lightBlue: rgb(13, 103, 141);
  --midBlue: rgb(0, 81, 115);
  --bgBlue: rgb(3, 62, 87);
  --errRed: rgb(255, 52, 52);
  --bgBlack: rgb(20, 20, 20);
  --yellow: rgb(255, 230, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  background: var(--lightBlue);
  cursor: pointer;
}

footer {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

footer p {
  opacity: 0.2;
}

footer h2 {
  opacity: 0.5;
}

footer div {
  flex: 1;
}

footer #socials {
  text-align: center;
  opacity: 0.5;
}

footer #socials ul {
  list-style: none;
}

footer #socials li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

footer #links {
  float: right;
  list-style-type: none;
}

footer #links li {
  opacity: 0.5;
  cursor: pointer;
}

footer #links li:hover {
  text-decoration: underline;
}

.loadingRotation {
  animation: rotationAnim 1s ease 0s infinite;
}

@keyframes rotationAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotationAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 999;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bgBlue);
}

.login #close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  width: fit-content;
  align-self: flex-end;
  background-color: transparent;
}

.login .loginContainer label {
  color: white;
  margin: 20px 0 5px;
  display: block;
  font-size: 18px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: white;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
}

.login .loginContainer .btnContainer {
  color: white;
}

.login .loginContainer .errorMsg {
  color: var(--errRed);
  font-size: 16px;
}

.loadingOverlay {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Home .sections {
  height: 100vh;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  background-color: var(--lightBlue);
}

.Home .sections h2 {
  font-size: 4.5vw;
  line-height: 1;
  padding-bottom: 20px;
}

.Home .sections p {
  font-size: 1.5vw;
}

.Home .sections img {
  width: 100%;
}

.Home .sections div {
  flex: 1;
  padding: 30px;
}

.Home .sections button {
  background-color: var(--midBlue);
  width: fit-content;
  margin-top: 20px;
}

.Home nav {
  position: fixed;
  background: var(--lightBlue);
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home nav h2 {
  color: white;
}

.Home nav button {
  width: 86px;
  padding: 8px 0;
  background: var(--midBlue);
  font-size: 18px;
  margin-right: 10px;
}

.Home #upFloatButton {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 100px;
  background-color: var(--bgBlack);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px;
}

.Home #upFloatButton svg {
  display: block;
}

#fileUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

#fileUpload button {
  max-width: 450px;
}

#fileUpload p {
  color: white;
  padding: 10px;
  margin: 20px;
  border: 2px dashed white;
  max-width: 450px;
  min-width: 450px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}